---
layout: page
title: Shuai Yue - Contact
description: >
  Details about contacting Shuai Yue.
heading: Contact
nav-title: Contact
permalink: /contact/
published: false
order: 8
---


    <div class="contact-col-wrapper">
      <div class="contact-col contact-col-1">
        <ul class="contact-list">
          <li>Shuai Yue</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="contact-col contact-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="contact-col contact-col-3">
        <p>
        Discription with link at
        <a href="https://www.example">discription</a> 
        xxxxxx.
        </p>
      </div>
    </div>
    
    <div class="direction-box">
		    <div class="map" >
  		  	<iframe width="600" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://use.mazemap.com/embed.html?v&#x3D;1&amp;campuses&#x3D;ntnu&amp;left&#x3D;10.4002&amp;right&#x3D;10.4043&amp;top&#x3D;63.4176&amp;bottom&#x3D;63.4165&amp;campusid&#x3D;1&amp;zlevel&#x3D;2&amp;sharepoitype&#x3D;poi&amp;sharepoi&#x3D;3509&amp;utm_medium&#x3D;iframe" style="border: 1px solid grey"></iframe><br/><small><a href="http://www.mazemap.com/">Map by MazeMap</a></small>
  		  </div>
  	  <div class="directions">
  	  	<p>
  	  	Discription <span style="font-style:italic; ">IT-bygget</span> this is an example
  	  	Gl&oslash;xxxxxx. 
  	  	<p>
  	  	put discription here
  	  </div>
  	</div>